<div class="popover" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html-unsafe="title" ng-show="title"> Color Configuration of Loaded Models </h3>
  <div class="popover-content">
    <button colorpicker colorpicker-position="top" class ="span2" type="button" class="btn btn-default" ng-model="model_color.personal"> <span class="glyphicon glyphicon-eye-open"></span></button><label ng-style="{color: model_color.personal}"> Personal Color</label>
    <br />
    <button colorpicker colorpicker-position="top" class ="span2" type="button" class="btn btn-default" ng-model="model_color.database"> <span class="glyphicon glyphicon-eye-open"></span></button><label ng-style="{color: model_color.database}"> Database Color </label>
  </div>
</div>

