<div class="popover" ng-show="content" id="#accordion">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html-unsafe="title" ng-show="title" ng-style="styleModel(model.dbType, model_color)">{{model.name}}<button class="btn btn-danger btn-xs pull-right"type="button" class="btn btn-danger" ng-click="$hide()">X</button></h3>
  <div class="popover-content" style="min-width:225px; height:250px;overflow-y:scroll;">
      
       <!-- Threshold Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSOne" style="display:block">
                  Threshold
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSOne" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.threshold.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.threshold.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.threshold.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.threshold.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
       <!-- End Threshold Parameter for NCS Cell -->

       <!-- Resting Potential Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSTwo" style="display:block">
                  Resting Potential
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSTwo" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.restingPotential.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.restingPotential.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.restingPotential.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.restingPotential.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
       <!-- End Resting Potential Parameter for NCS Cell -->

       <!-- Calcium Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSThree" style="display:block">
                  Calcium
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSThree" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.calcium.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.calcium.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.calcium.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.calcium.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
       <!-- End Calcium Parameter for NCS Cell -->

       <!-- Calcium Spike Increment Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSFour" style="display:block">
                  Calcium Spike Increment
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSFour" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.calciumSpikeIncrement.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.calciumSpikeIncrement.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.calciumSpikeIncrement.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.calciumSpikeIncrement.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
       <!-- End Calcium Spike Increment Parameter for NCS Cell -->

      <!-- Tau Calcium Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSFive" style="display:block">
                  Tau Calcium
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSFive" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.tauCalcium.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.tauCalcium.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.tauCalcium.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.tauCalcium.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
      <!-- End Tau Calcium Parameter for NCS Cell -->

      <!-- Leak Reversal Potential Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSSix" style="display:block">
                  Leak Reversal Potential
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSSix" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.leakReversalPotential.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.leakReversalPotential.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.leakReversalPotential.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.leakReversalPotential.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
      <!-- End Leak Reversal Potential Parameter for NCS Cell -->

      <!-- Tau Membrane Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSSeven" style="display:block">
                  Tau Membrane
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSSeven" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.tauMembrane.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.tauMembrane.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.tauMembrane.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.tauMembrane.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
      <!-- End Tau Membrane Parameter for NCS Cell -->

      <!-- R Membrane for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSEight" style="display:block">
                  R Membrane
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSEight" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.rMembrane.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.rMembrane.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.rMembrane.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.rMembrane.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
      <!-- End R Membrane Parameter for NCS Cell -->

      <!-- Spike Shape Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSNine" style="display:block">
                  Spike Shape
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSNine" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" >
                <li class="list-group-item" style="min-width:175px">Type: {{model.parameters.spikeShape.type}}</li>
                <li class="list-group-item" style="min-width:175px">Value: {{model.parameters.spikeShape.value}}</li>
                <li class="list-group-item" style="min-width:175px">Min Value: {{model.parameters.spikeShape.minValue}}</li>
                <li class="list-group-item" style="min-width:175px">Max Value: {{model.parameters.spikeShape.maxValue}}</li>
              </ul>
            </div>
          </div>  
        
        </div>
      </div>
      <!-- End Spike Shape Parameter for NCS Cell -->

      <!-- Channel Parameter for NCS Cell -->
      <div class="panel-group" id="accordion" style="width:250px">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNCSTen" style="display:block">
                  Channels
              </a>
            </h4>
          </div>
        
          <div id="collapseNCSTen" class="panel-collapse collapse out">
            <div class="panel-body">
              <ul class="list-group col-lg-6" data-ng-repeat="channel in model.parameters.channel">
                <div  ng-if="channel.name == 'Voltage Gated Ion Channel'">

                  <div class="panel-group" id="accordion" style="width:225px">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon" style="display:block">
                            Voltage Gated Ion
                          </a>
                        </h4>
                      </div>

                      <div id="collapseVGIon" class="panel-collapse collapse out">
                        <div class="panel-body">
                          <!-- Start Voltage Gate Ion vHalf Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_vHalf" style="display:block">
                                    vHalf
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_vHalf" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.vHalf.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.vHalf.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.vHalf.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.vHalf.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- EndVoltage Gate Ion vHalf Parameters -->

                          <!-- Start Voltage Gate Ion r Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_r" style="display:block">
                                    r
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_r" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.vHalf.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.vHalf.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.vHalf.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.vHalf.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion r Parameters -->

                          <!-- Start Voltage Gate Ion Activation Slope Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_activationSlope" style="display:block">
                                    Activation Slope
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_activationSlope" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.activationSlope.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.activationSlope.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.activationSlope.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.activationSlope.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion Activation Slope Parameters -->

                          <!-- Start Voltage Gate Ion Deactivation Slope Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_deactivationSlope" style="display:block">
                                    Deactivation Slope
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_deactivationSlope" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.deactivationSlope.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.deactivationSlope.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.deactivationSlope.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.deactivationSlope.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion Deactivation Slope Parameters -->

                          <!-- Start Voltage Gate Ion equilibrium Slope Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_equilibriumSlope" style="display:block">
                                    Equilibrium Slope
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_equilibriumSlope" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.equilibriumSlope.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.equilibriumSlope.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.equilibriumSlope.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.equilibriumSlope.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion equilibrium Slope Parameters -->

                          <!-- Start Voltage Gate Ion Conductance Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_conductance" style="display:block">
                                    Conductance
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_conductance" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.conductance.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.conductance.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.conductance.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.conductance.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion Conductance Parameters -->

                          <!-- Start Voltage Gate Ion Reversal Potential Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_reversalPotential" style="display:block">
                                    Reversal Potential
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_reversalPotential" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.reversalPotential.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.reversalPotential.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.reversalPotential.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.reversalPotential.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion Reversal Potential Parameters -->

                          <!-- Start Voltage Gate Ion m_Initial Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVGIon_mInitial" style="display:block">
                                    m_Initial
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVGIon_mInitial" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.mInitial.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.mInitial.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.mInitial.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.mInitial.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Ion m_Initial Parameters -->


                        </div>
                      </div> 
                    </div>
                  </div>
                </div> <!-- End If Statement -->

                <div  ng-if="channel.name == 'Calcium Dependant Channel'">
                  <div class="panel-group" id="accordion" style="width:225px">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant" style="display:block">
                            Calcium Dependant Channel
                          </a>
                        </h4>
                      </div>

                      <div id="collapseCalciumDependant" class="panel-collapse collapse out">
                        <div class="panel-body">
                          <!-- Start Calcium Dependant Channel m Initial Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_mInitial" style="display:block">
                                    m_Initial
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_mInitial" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.mInitial.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.mInitial.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.mInitial.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.mInitial.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel m Initial Parameters -->

                          <!-- Start Calcium Dependant Channel Reversal Potential Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_ReversalPotential" style="display:block">
                                    Reversal Potential
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_ReversalPotential" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.reversalPotential.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.reversalPotential.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.reversalPotential.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.reversalPotential.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel Reversal Potential Parameters -->

                          <!-- Start Calcium Dependant Channel Backwards Rate Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_BackwardsRate" style="display:block">
                                    Backwards Rate
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_BackwardsRate" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.backwardsRate.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.backwardsRate.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.backwardsRate.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.backwardsRate.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel Backwards Rate Parameters -->

                          <!-- Start Calcium Dependant Channel Forward Scale Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_ForwardScale" style="display:block">
                                    Forward Scale
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_ForwardScale" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.forwardScale.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.forwardScale.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.forwardScale.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.forwardScale.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel Forward Scale Parameters -->

                          <!-- Start Calcium Dependant Channel Forward Exponent Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_ForwardExponent" style="display:block">
                                    Forward Exponent
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_ForwardExponent" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.forwardExponent.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.forwardExponent.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.forwardExponent.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.forwardExponent.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel Forward Exponent Parameters -->

                          <!-- Start Calcium Dependant Channel Tau Scale Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseCalciumDependant_TauScale" style="display:block">
                                    Tau Scale
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseCalciumDependant_TauScale" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.tauScale.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.tauScale.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.tauScale.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.tauScale.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Calcium Dependant Channel Tau Scale Parameters -->

                        </div>
                      </div> 
                    </div>
                  </div>
                </div> <!-- End If Statement -->

                <div  ng-if="channel.name == 'Voltage Gated Channel'">
                  <div class="panel-group" id="accordion" style="width:225px">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseVG" style="display:block">
                            Voltage Gated
                          </a>
                        </h4>
                      </div>

                      <div id="collapseVG" class="panel-collapse collapse out">
                        <div class="panel-body">

                          
                          <!-- Start Voltage Gate Conductance Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVG_conductance" style="display:block">
                                    Conductance
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVG_conductance" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.conductance.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.conductance.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.conductance.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.conductance.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Conductance Parameters -->

                          <!-- Start Voltage Gate Reversal Potential Parameters -->
                          <div class="panel-group" id="accordion" style="width:200px">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVG_reversalPotential" style="display:block">
                                    Reversal Potential
                                  </a>
                                </h4>
                              </div>
        
                              <div id="collapseVG_reversalPotential" class="panel-collapse collapse out">
                                <div class="panel-body">
                                  <ul class="list-group col-lg-6" >
                                    <li class="list-group-item" style="min-width:175px">Type: {{channel.reversalPotential.type}}</li>
                                    <li class="list-group-item" style="min-width:175px">Value: {{channel.reversalPotential.value}}</li>
                                    <li class="list-group-item" style="min-width:175px">Min Value: {{channel.reversalPotential.minValue}}</li>
                                    <li class="list-group-item" style="min-width:175px">Max Value: {{channel.reversalPotential.maxValue}}</li>
                                  </ul>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <!-- End Voltage Gate Reversal Potential Parameters -->

                        </div>
                      </div> 
                    </div>
                  </div>
                </div> <!-- End If Statement -->

              </ul>
            </div>
          </div>
        
        </div>
      </div>
      <!-- End Channel Parameter for NCS Cell -->


  </div>
</div>
