#currentModelName {
	position: absolute;
}

#addConnection {
	margin-right: 5px;
}

.ncb-current-components{
	height: auto;
	max-height: 400px;
	overflow: auto;
}

#parameters{
	overflow: auto;
}

.ncb-very-large-column{
	width: 30%;
}

.ncb-large-column{
	width: 30%;
}

.ncb-table{
	margin: 0px;
	max-height: 500px;
	overflow: auto;
}

.ncb-small-column{
	max-width: 10%;
}

.ncb-params-left{
	padding-right: 0px;
}

.ncb-params-right{
	padding-left: 0px;
}

.ncb-connection-panel{
	height:350px;
	padding: 0px;
}

.ncb-connection-listgroup{
	height: 270px;
  	overflow: auto;
}
