#currentModelName {
	position: absolute;
}

#addConnection {
	margin-right: 5px;
}

#currentModelComponents{
	height: 200px;
	overflow: auto;
}

#currentModelConnections{
	height: 200px;
	overflow: auto;
}

#parameters{
	overflow: auto;
}

.ncb-very-large-column{
	width: 30%;
}

.ncb-large-column{
	width: 30%;
}

.ncb-table{
	margin: 0px;
}

.ncb-small-column{
	max-width: 10%;
}

.ncb-params-left{
	padding-right: 0px;
}

.ncb-params-right{
	padding-left: 0px;
}

.ncb-connection-panel{
	height:350px;
	padding: 0px;
}

.ncb-connection-listgroup{
	height: 270px;
  	overflow: auto;
}
