language: python
python:
  - "2.7"

# command to install dependencies
before_install: npm install -g grunt-cli
install: "npm install && pip install -r requirements.txt"
# command to run tests
script:
    - grunt build:debug
notifications:
    email: false
after_script:
    coveralls
