<!-- Template for the application menu bar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">NCS</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="mainNav" class="nav navbar-nav">
                <li class="active"><a href="#model"><span class="glyphicon glyphicon-pencil"></span> Model Builder</a></li>
                <li><a href="#simulation"><span class="glyphicon glyphicon-th"></span> Simulation Builder</a></li>
                <li><a href="#reports"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
                <li><a href="#database"><span class="glyphicon glyphicon-hdd"></span> Model Database</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://cse.unr.edu/brain" target="_blank">Documentation</a></li>
                <li><a href="https://github.com/BrainComputationLab" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
