<!-- LEFT MENU -->

<!-- Current model list which contains the list of models a user is working on -->
<div id="currentModelList" class="panel panel-default ncb-full-panel" >
	<div class="panel-heading ncb-heading">
            Current Model
        <button type="button" id="addCellGroup" data-toggle="modal" data-target="#addCellGroupModal" class="btn btn-xs btn-info pull-right">+ Cell Group</button>
	</div>
	<div>
    <ol class="breadcrumb ncb-bread">
        <li data-ng-repeat="breadCrumb in modelCtrl.getBreadCrumbs()">
          <a href="#" data-ng-click="modelCtrl.goToBreadCrumb($index)">{{breadCrumb.name}}</a>
        </li>
    </ol>
	</div>

	<!-- filtering is done here -->
	<div class="panel-body" >

    <span class="label label-default" data-ng-show="modelCtrl.getComponents().length > 0" style="display:block;">Model Components</span>

    <div class="list-group" id="currentModelComponents">
      <li data-ng-repeat="model in modelCtrl.getComponents()" class="row list-group-item ncb-cell-list-item ncb-item-center"  data-ng-dblclick="modelCtrl.selectComponent(model, $index)" data-ng-click="modelCtrl.displayParameters(model)" data-ng-style="modelCtrl.styleElement(model)">
          <div class="col-lg-10">
            <div class="row">
              <a class="ncb-cell-name-txt ncb-list-text-color" href="">{{model.name}}</a>
            </div>
            <div class="row">
              <a data-ng-show="model.classification == 'cells'" class="ncb-cell-type-txt" href="">{{model.parameters.type}}</a>
              <a data-ng-show="model.classification == 'cellGroup'" class="ncb-cell-type-txt" href="">Cell Group</a>
              <a data-ng-show="model.classification == 'model'" class="ncb-cell-type-txt" href="">Model</a>
            </div>
          </div>
          <div class="col-lg-2 ncb-remove-component-btn">
              <div class="row"><button type="button" data-ng-click="modelCtrl.removeModel(model)" class="btn btn-xs btn-danger pull-right">x</button></div>
          </div>
      </li>
    </div>

    <span class="label label-default" data-ng-show="modelCtrl.getComponents().length > 0" style="display:block;">Model Connections</span>
    <div class="list-group" id="currentModelConnections">
    </div>
  </div>
</div>
<!-- end current model list -->
