<!-- LEFT MENU -->

<!-- Current model list which contains the list of models a user is working on -->
<div id="currentModelList" class="panel panel-default ncb-full-panel" >
	<div class="panel-heading ncb-heading">
            Current Model
        <button type="button" id="addCellGroup" data-toggle="modal" data-target="#addCellGroupModal" class="btn btn-xs btn-info pull-right">+ Cell Group</button>
        <button type="button" id="addConnection" data-toggle="modal" data-target="#addConnectionModal" class="btn btn-xs btn-info pull-right" data-ng-click='modelCtrl.updateConnectionModel()'>+ Conn</button>
        <button type="button" id="addColumn" data-toggle="modal" data-target="#addColumnModal" class="btn btn-xs btn-info pull-right">+ Col</button>
	</div>
	<div>
    <ol class="breadcrumb ncb-bread">
        <li data-ng-repeat="breadCrumb in modelCtrl.getBreadCrumbs()">
          <a href="#" data-ng-click="modelCtrl.goToBreadCrumb($index)">{{breadCrumb.name}}</a>
        </li>
    </ol>
	</div>

	<!-- filtering is done here -->
	<div class="panel-body" >

    <span class="label label-default ncb-clickable" data-ng-show="modelCtrl.getComponents().length > 0" style="display:block;" data-ng-click="modelCtrl.showComponents = !modelCtrl.showComponents">{{modelCtrl.showComponents ? "Model Components -" : "Model Components +"}}</span>

    <div class="list-group ncb-current-components">
      <li data-ng-repeat="model in modelCtrl.getComponents()" class="row list-group-item ncb-cell-list-item ncb-item-center"  data-ng-dblclick="modelCtrl.selectComponent(model, $index)" data-ng-click="modelCtrl.displayParameters(model)" data-ng-style="modelCtrl.styleElement(model)" data-ng-show="modelCtrl.showComponents">
          <div class="col-lg-10">
            <div class="row">
              {{model.name}}
            </div>
            <div class="row ncb-cell-type-txt" data-ng-show="model.classification == 'cells'">{{model.parameters.type}}</div>
            <div class="row ncb-cell-type-txt" data-ng-show="model.classification == 'cellGroup'">Cell Group</div>
            <div class="row ncb-cell-type-txt" data-ng-show="model.classification == 'model'">Model</div>
          </div>
          <div class="col-lg-2 ncb-remove-component-btn">
              <div class="row"><button type="button" data-ng-click="modelCtrl.removeModel(model)" class="btn btn-xs btn-danger pull-right">x</button></div>
          </div>
      </li>
    </div>

    <span class="label label-default ncb-clickable" data-ng-show="modelCtrl.getSynapses().length > 0" style="display:block;" data-ng-click="modelCtrl.showSynapses = !modelCtrl.showSynapses">{{modelCtrl.showSynapses ? "Model Connections -" : "Model Connections +"}}</span>

    <div class="list-group ncb-current-components">
      <li data-ng-repeat="synapse in modelCtrl.getSynapses()" class="row list-group-item ncb-cell-list-item ncb-item-center" data-ng-click="modelCtrl.displayParameters(synapse)" data-ng-show="modelCtrl.showSynapses && modelCtrl.isConnectionVisible(synapse)" data-ng-style="modelCtrl.styleElement(synapse)">
          <div class="col-lg-11">
            <div class="row">
              <span class="ncb-cell-type-txt">{{modelCtrl.pathString(synapse.prePath) + " - "}}</span>
              <span>{{synapse.pre}}</span>
            </div>
            <div class="row">
              <span class="ncb-cell-type-txt">{{modelCtrl.pathString(synapse.postPath) + " - "}}</span>
              <span>{{synapse.post}}</span>
            </div>
          </div>
          <div class="col-lg-1 ncb-remove-component-btn">
              <div class="row"><button type="button" data-ng-click="modelCtrl.removeSynapse(synapse)" class="btn btn-xs btn-danger pull-right">x</button></div>
          </div>
      </li>
    </div>

    <span class="label label-default ncb-clickable" data-ng-show="modelCtrl.getColumns().length > 0" style="display:block;" data-ng-click="modelCtrl.showColumns = !modelCtrl.showColumns">{{modelCtrl.showColumns ? "Model Columns -" : "Model Columns +"}}</span>

    <div class="list-group ncb-current-components">
      <li data-ng-repeat="column in modelCtrl.getColumns()" class="row list-group-item ncb-cell-list-item ncb-item-center" data-ng-click="modelCtrl.displayParameters(column)" data-ng-show="modelCtrl.showColumns" data-ng-style="modelCtrl.styleElement(column)">
          <div class="col-lg-10">
            <div class="row">
              {{column.name}}
            </div>
            <div class="row ncb-cell-type-txt">{{column.location}}</div>
          </div>
          <div class="col-lg-2 ncb-remove-component-btn">
              <div class="row"><button type="button" data-ng-click="modelCtrl.removeColumn(column)" class="btn btn-xs btn-danger pull-right">x</button></div>
          </div>
      </li>
    </div>
  </div>
</div>
<!-- end current model list -->
