<!-- NEW CELL GROUP MODAL BEGIN -->
<!-- Modal -->
<div class="modal fade" id="addCellGroupModal" tabindex="-1" role="dialog" data-ng-controller="AddCellGroupModalController as addCellGroupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Cell Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group cellGroupTypes">

                        <label for="modalcellGroupName" class="col-sm-4 control-label"> Name</label>
                        <div class="col-sm-8">
                            <input id="modalcellGroupName" type="text" placeholder="Name" class="form-control" data-ng-model="addCellGroupCtrl.cellGroupName">
                            <br>
                        </div>

                        <label for="modalType" class="col-sm-4 control-label"> Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" data-ng-model="addCellGroupCtrl.cellGroupType">
                                <option value='cells'>Cells</option>
                                <option value='cellGroup'>Cell Group Folder</option>
                            </select>
                            <br>
                        </div>

                        <label for="modalcellGroupNum" class="col-sm-4 control-label" data-ng-show="addCellGroupCtrl.cellGroupType == 'cells'"> Amount</label>
                        <div class="col-sm-8" data-ng-show="addCellGroupCtrl.cellGroupType == 'cells'">
                            <input id="modalcellGroupNum" type="number" placeholder="Amount" class="form-control" data-ng-model="addCellGroupCtrl.amount">
                            <br>
                        </div>

                        <label for="modalcellType" data-ng-show="addCellGroupCtrl.cellGroupType == 'cells'" class="col-sm-4 control-label">Cell Type</label>
                        <div class="col-sm-8" data-ng-show="addCellGroupCtrl.cellGroupType == 'cells'">
                            <select class="form-control" data-ng-model="addCellGroupCtrl.cellType">
                                <option value='Izhikevich'>Izhikevich</option>
                                <option value='NCS'>NCS</option>
                                <option value='HodgkinHuxley'>Hodgkin Huxley</option>
                            </select>
                        </div>
                      </div>

                    <div class="form-group cellChannelType" data-ng-show="addCellGroupCtrl.cellGroupType == 'cells' && (addCellGroupCtrl.cellType == 'NCS' || addCellGroupCtrl.cellType == 'HodgkinHuxley')">
                        <label for="cellChannelType" class="col-sm-4 control-label"> Channel</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="cellChannelType" data-ng-model="addCellGroupCtrl.channelType">
                                <option value='None'>None</option>
                                <option value='Voltage Gated Ion Channel'>Voltage Gated Ion Channel</option>
                                <option value='Calcium Dependant Channel'>Calcium Dependant Channel</option>
                                <option value='Voltage Gated Channel'>Voltage Gated Channel</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="addCellGroupCtrl.addCellGroup()">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- NEW CELL GROUP MODAL END -->