<!-- NEW CELL GROUP MODAL BEGIN -->
<!-- Modal -->
<div class="modal fade" id="addConnectionModal" tabindex="-1" role="dialog" data-ng-controller="AddConnectionModalController as connectionCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Connection</h4>
            </div>
            <div id="ElementBody" class="modal-body">
                <div class="row">


                    <div class="panel panel-default col-lg-6 ncb-connection-panel" >
                        <div class="panel-heading ncb-heading">
                            <div>
                                Group 1
                            </div>
                        </div>
                        <div>
                        <ol class="breadcrumb ncb-bread">
                            <li data-ng-repeat="breadCrumb in breadCrumbs1">
                              <a href="#">{{breadCrumb.name}}</a>
                            </li>
                        </ol>
                        </div>
                        
                        <div class="panel-body" >


                        </div>
                    </div>

                    <div class="panel panel-default col-lg-6 ncb-connection-panel" >
                        <div class="panel-heading ncb-heading">
                            <div>
                                Group 2
                            </div>
                        </div>
                        <div>
                        <ol class="breadcrumb ncb-bread">
                            <li data-ng-repeat="breadCrumb in breadCrumbs2">
                              <a href="#">{{breadCrumb.name}}</a>
                            </li>
                        </ol>
                        </div>

                        <div class="panel-body" >


                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="addCellGroupCtrl.addCellGroup()">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- NEW CELL GROUP MODAL END -->