<!-- NEW CELL GROUP MODAL BEGIN -->
<!-- Modal -->
<div class="modal fade" id="addConnectionModal" tabindex="-1" role="dialog" data-ng-controller="AddConnectionModalController as connectionCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Connection</h4>
            </div>
            <div id="ElementBody" class="modal-body">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading ncb-heading">
                                <div>
                                    Selected Connection
                                </div>
                            </div>

                            <div class="panel-body">
                                <div data-ng-show="selected1 && selected2 && (selected1 != selected2)">{{selected1.name + " connected with " + selected2.name}}</div>
                                <div data-ng-show="!selected1 || !selected2 || (selected1 == selected2)">Please select 2 different cell groups</div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12">


                        <div class="panel panel-default col-lg-6 ncb-connection-panel" >
                            <div class="panel-heading ncb-heading">
                                <div>
                                    Group 1
                                </div>
                            </div>
                            <div>
                            <ol class="breadcrumb ncb-bread">
                                <li data-ng-repeat="breadCrumb in breadCrumbs1">
                                  <a href="#" data-ng-click="connectionCtrl.goToBreadCrumb1($index)">{{breadCrumb.name}}</a>
                                </li>
                            </ol>
                            </div>
                            
                            <div class="panel-body ncb-connection-listgroup" >

                                <div class="list-group">
                                  <li data-ng-repeat="model in component1.cellGroups" class="row list-group-item ncb-cell-list-item ncb-item-center"   data-ng-style="connectionCtrl.styleElement(model)" data-ng-dblclick="connectionCtrl.setComponent1(model, $index)">
                                      <div class="col-lg-10">
                                        <div class="row">
                                          <a class="ncb-cell-name-txt ncb-list-text-color" href="">{{model.name}}</a>
                                        </div>
                                        <div class="row">
                                          <a data-ng-show="model.classification == 'cells'" class="ncb-cell-type-txt" href="">{{model.parameters.type}}</a>
                                          <a data-ng-show="model.classification == 'cellGroup'" class="ncb-cell-type-txt" href="">Cell Group</a>
                                          <a data-ng-show="model.classification == 'model'" class="ncb-cell-type-txt" href="">Model</a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 ncb-remove-component-btn">
                                          <div class="row" data-ng-show="model.classification == 'cells'"><button type="button" data-ng-class="model != selected1 ? 'btn btn-xs btn-info pull-right' : 'btn btn-xs btn-success pull-right'" data-ng-click="connectionCtrl.setSelected1(model)"><span ng-class="model != selected1 ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-arrow-right'"></span></button></div>
                                      </div>
                                  </li>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default col-lg-6 ncb-connection-panel" >
                            <div class="panel-heading ncb-heading">
                                <div>
                                    Group 2
                                </div>
                            </div>
                            <div>
                            <ol class="breadcrumb ncb-bread">
                                <li data-ng-repeat="breadCrumb in breadCrumbs2">
                                  <a href="#" data-ng-click="connectionCtrl.goToBreadCrumb2($index)">{{breadCrumb.name}}</a>
                                </li>
                            </ol>
                            </div>

                            <div class="panel-body ncb-connection-listgroup" >

                                <div class="list-group">
                                  <li data-ng-repeat="model in component2.cellGroups" class="row list-group-item ncb-cell-list-item ncb-item-center"   data-ng-style="connectionCtrl.styleElement(model)" data-ng-dblclick="connectionCtrl.setComponent2(model, $index)">
                                      <div class="col-lg-10">
                                        <div class="row">
                                          <a class="ncb-cell-name-txt ncb-list-text-color" href="">{{model.name}}</a>
                                        </div>
                                        <div class="row">
                                          <a data-ng-show="model.classification == 'cells'" class="ncb-cell-type-txt" href="">{{model.parameters.type}}</a>
                                          <a data-ng-show="model.classification == 'cellGroup'" class="ncb-cell-type-txt" href="">Cell Group</a>
                                          <a data-ng-show="model.classification == 'model'" class="ncb-cell-type-txt" href="">Model</a>
                                        </div>
                                      </div>
                                      <div class="col-lg-2 ncb-remove-component-btn">
                                          <div class="row" data-ng-show="model.classification == 'cells'"><button type="button" ng-class="model != selected2 ? 'btn btn-xs btn-info pull-right' : 'btn btn-xs btn-success pull-right'" data-ng-click="connectionCtrl.setSelected2(model)"><span ng-class="model != selected2 ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-arrow-left'" class=""></span></button></div>
                                      </div>
                                  </li>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="connectionCtrl.addConnectionToModel()">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- NEW CELL GROUP MODAL END -->