 <!-- RIGHT MENU -->

<!-- Div for Model paremeters-->
<div class="panel panel-default ncb-full-panel">

    <!-- Tab bar menu buttons for Cell group Parameters, Model Parameters, User Parameters -->
    <div id="groupName" class="panel-heading ncb-heading">
            {{title || "Parameters"}}
    </div>
    <!-- end tab bar menu buttons -->

    <!-- Accordion -->
    <div class="panel-body">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default" data-ng-show="displayed.classification == 'cellGroup'">
                <div class="panel-heading">
                    <h4 class="panel-title" >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" style="display:block">
                            CellGroup Parameters
                        </a>
                    </h4>
                </div>
                <div id="collapse0" class="panel-collapse collapse in">
                  <table class="table table-bordered table-hover table-condensed ncb-table">
                    <tr>
                      <td colspan="1"><span>Name:</span></td>
                      <td colspan="1" blur="submit" data-editable-text="displayed.name" data-onaftersave="updateBreadCrumbs()" buttons="no"><span>{{displayed.name}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="1"><span>Description:</span></td>
                      <td colspan="1" blur="submit" data-editable-text="displayed.description" buttons="no"><span>{{displayed.description}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="1"><span>Number of Subgroups:</span></td>
                      <td colspan="1"><span>{{displayed.cellGroups.length}}</span></td>
                    </tr>
                  </table>
                </div>
            </div>

            <div class="panel panel-default" data-ng-show="displayed.classification == 'cells'">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="display:block">
                            Cell Parameters
                        </a>
                    </h4>
                </div>

                <div id="collapse1" class="panel-collapse collapse in">

                  <table class="table table-bordered table-hover table-condensed ncb-table">
                    <tr>
                      <td colspan="2"><span>Name:</span></td>
                      <td colspan="6" blur="submit" data-editable-text="displayed.name" buttons="no" data-onbeforesave="mParamsCtrl.checkNotEmpty($data)"><span>{{displayed.name}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Description:</span></td>
                      <td colspan="6" blur="submit" data-editable-text="displayed.description" buttons="no"><span>{{displayed.description}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Type:</span></td>
                      <td colspan="6"><span>{{displayed.parameters.type}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Quantity:</span></td>
                      <td colspan="6" blur="submit" data-editable-text="displayed.num" buttons="no" data-onbeforesave="mParamsCtrl.checkInteger($data)"><span>{{displayed.num}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Geometry:</span></td>
                      <td colspan="6"><span>{{displayed.geometry}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Column:</span></td>
                      <td colspan="6" blur="submit" data-editable-select="displayed.column" data-e-ng-options="c.name as c.name for c in possibleColumns" buttons="no"><span>{{displayed.column}}</span></td>
                    </tr>

                    <tr>
                      <td colspan="2"><span>Parameter Name:</span></td>
                      <td colspan="1"><span>Type:</span></td>
                      <td colspan="1"><span>Value:</span></td>
                      <td colspan="1"><span>Min:</span></td>
                      <td colspan="1"><span>Max:</span></td>
                      <td colspan="1"><span>Mean:</span></td>
                      <td colspan="1"><span>StdDev:</span></td>
                    </tr>

                    <tr data-ng-repeat="paramKey in getKeysForObject(displayed.parameters) | filter: '!type' | filter: '!channel' | filter: '!spikeShape'">
                      <td colspan="2"><span>{{paramKey.capitalizeFirstLetter().splitOnCapitalLetters() + ":"}}</span></td>
                      <td colspan="1" blur="submit" data-editable-select="displayed.parameters[paramKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{displayed.parameters[paramKey].type}}</span></td>
                      <td colspan="1" data-ng-repeat="paramValueKey in getKeysForObject(displayed.parameters[paramKey]) | filter: '!type'" data-editable-text="displayed.parameters[paramKey][paramValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{displayed.parameters[paramKey][paramValueKey]}}</span></td>
                    </tr>
                  </table>
                </div>
            </div>

            <div class="panel panel-default" data-ng-show="displayed.classification == 'synapseGroup'">
                <div class="panel-heading">
                    <h4 class="panel-title" >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="display:block">
                            Synapse Parameters
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">

                  <!-- Start Synapse -->
                  <table class="table table-bordered table-hover table-condensed ncb-table">
                    <tr>
                      <td colspan="2"><span>Presynaptic Name:</span></td>
                      <td colspan="6"><a href="#" data-ng-click="editConnectionGroups()">{{displayed.pre}}</a></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Postsynapic Name:</span></td>
                      <td colspan="6"><a href="#" data-ng-click="editConnectionGroups()">{{displayed.post}}</a></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Description:</span></td>
                      <td colspan="6" blur="submit" data-editable-text="displayed.description" buttons="no"><span>{{displayed.description}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Synapse Type:</span></td>
                      <td colspan="6" blur="submit" data-editable-select="synapseType" data-e-ng-options="s.value as s.text for s in synapseTypes" buttons="no"><span>{{synapseType}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Probability:</span></td>
                      <td colspan="6" blur="submit" data-editable-text="displayed.prob" buttons="no" data-onbeforesave="mParamsCtrl.checkProbability($data)"><span>{{displayed.prob}}</span></td>
                    </tr>
                    <tr>
                      <td colspan="2"><span>Parameter Name:</span></td>
                      <td colspan="1"><span>Type:</span></td>
                      <td colspan="1"><span>Value:</span></td>
                      <td colspan="1"><span>Min:</span></td>
                      <td colspan="1"><span>Max:</span></td>
                      <td colspan="1"><span>Mean:</span></td>
                      <td colspan="1"><span>StdDev:</span></td>
                    </tr>
                    <tr data-ng-repeat="paramKey in getKeysForObject(displayed.parameters) | filter: '!type' | filter: '!name'">
                      <td colspan="2"><span>{{paramKey.capitalizeFirstLetter().splitOnCapitalLetters() + ":"}}</span></td>
                      <td colspan="1" blur="submit" data-editable-select="displayed.parameters[paramKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{displayed.parameters[paramKey].type}}</span></td>
                      <td colspan="1" data-ng-repeat="paramValueKey in getKeysForObject(displayed.parameters[paramKey]) | filter: '!type'" data-editable-text="displayed.parameters[paramKey][paramValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{displayed.parameters[paramKey][paramValueKey]}}</span></td>
                    </tr>
                  </table>
                </div>
            </div>

            <div class="panel panel-default" data-ng-show="displayed.classification == 'column'">
                <div class="panel-heading">
                    <h4 class="panel-title" >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseColumn" style="display:block">
                            Column Parameters
                        </a>
                    </h4>
                </div>
                <div id="collapseColumn" class="panel-collapse collapse in">

                  <!-- Start Column -->
                  <table class="table table-bordered table-hover table-condensed ncb-table">
                    <tr>
                      <td colspan="1"><span>Name:</span></td>
                      <td colspan="1" width="70%" blur="submit" data-editable-text="displayed.name" buttons="no"><span>{{displayed.name}}</span></td>
                    </tr>

                    <tr data-ng-repeat="axis in getKeysForObject(displayed.position)">
                      <td colspan="1"><span>{{"Position " + axis.capitalizeFirstLetter() + ":"}}</span></td>
                      <td colspan="1" width="70%" blur="submit" data-editable-text="displayed.position[axis]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{displayed.position[axis]}}</span></td>
                    </tr>

                    <tr data-ng-repeat="paramKey in getKeysForObject(displayed) | filter: '!position' | filter: '!name'">
                      <td colspan="1"><span>{{paramKey.capitalizeFirstLetter() + ":"}}</span></td>
                      <td colspan="1" width="70%" blur="submit" data-editable-text="displayed[paramKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{displayed[paramKey]}}</span></td>
                    </tr>

                  </table>
                  <!-- End Column -->

                </div>
            </div>

        </div>

        <!-- Channels -->
        <div class="panel-group">

            <div class="panel panel-default" data-ng-show="displayed.classification == 'cells' && displayed.parameters.type != 'Izhikevich'">
                <div class="panel-heading">
                      <div class="row">
                        <div class="col-lg-10">
                          <h4 class="panel-title" >
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseChannels" style="display:block">
                              Channels
                            </a>
                          </h4>
                        </div>
                        <div class="col-lg-2">
                          <button type="button" data-toggle="modal" data-target="#addChannelModal" class="btn btn-xs btn-info pull-right">+ Channel</button>
                        </div>
                      </div>

                </div>
                <div id="collapseChannels" class="panel-collapse collapse in">
                  <div data-ng-repeat="channel in displayed.parameters.channel track by $index">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#channel{{$index+1}}" style="display:block">
                                          {{channel.name}}
                                      </a>
                                    </h4>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" data-ng-click="mParamsCtrl.removeChannel($index)" class="btn btn-xs btn-danger pull-right">x</button>
                                </div>
                            </div>
                        </div>
                        <div id="channel{{$index+1}}" class="panel-collapse collapse">
                            <div class="panel-body">

                              <!-- Voltage Gated Ion Channel Parameters -->
                              <table class="table table-bordered table-hover table-condensed ncb-table">
                                <tr>
                                  <td colspan="2"><span>Name:</span></td>
                                  <td colspan="6" blur="submit" data-editable-text="channel.name" buttons="no" data-onbeforesave="mParamsCtrl.checkNotEmpty($data)"><span>{{channel.name}}</span></td>
                                </tr>
                                <tr>
                                  <td colspan="2"><span>Type:</span></td>
                                  <td colspan="6"><span>{{mParamsCtrl.getChannelTypeString(channel)}}</span></td>
                                </tr>
                                <tr>
                                  <td colspan="2"><span>Description:</span></td>
                                  <td colspan="6" blur="submit" data-editable-text="channel.description" buttons="no"><span>{{channel.description}}</span></td>
                                </tr>
                                <tr>
                                  <td colspan="2"><span>Parameter Name:</span></td>
                                  <td colspan="1"><span>Type:</span></td>
                                  <td colspan="1"><span>Value:</span></td>
                                  <td colspan="1"><span>Min:</span></td>
                                  <td colspan="1"><span>Max:</span></td>
                                  <td colspan="1"><span>Mean:</span></td>
                                  <td colspan="1"><span>StdDev:</span></td>
                                </tr>
                                <tr data-ng-repeat="paramKey in getKeysForObject(channel) | filter: '!className' | filter: '!name' | filter: '!description' | filter: '!particles'">
                                  <td colspan="2"><span>{{paramKey.capitalizeFirstLetter().splitOnCapitalLetters() + ":"}}</span></td>
                                  <td colspan="1" blur="submit" data-editable-select="channel[paramKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{channel[paramKey].type}}</span></td>
                                  <td colspan="1" data-ng-repeat="paramValueKey in getKeysForObject(channel[paramKey]) | filter: '!type'" data-editable-text="channel[paramKey][paramValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{channel[paramKey][paramValueKey]}}</span></td>
                                </tr>
                              </table>


                              <table class="table table-bordered table-hover table-condensed ncb-table" data-ng-show="channel.className == 'voltageGatedChannel'" data-ng-repeat="particle in channel.particles track by $index">
                                <tr>
                                  <td colspan="8"><span><strong>Particle {{$index+1}}</strong></span><button class="btn btn-xs btn-danger pull-right" data-ng-click="mParamsCtrl.removeParticle(channel, $index)" data-ng-show="channel.particles.length > 1">x</button></td>
                                </tr>
                                <tr>
                                  <td colspan="2"><span>Parameter Name:</span></td>
                                  <td colspan="1"><span>Type:</span></td>
                                  <td colspan="1"><span>Value:</span></td>
                                  <td colspan="1"><span>Min:</span></td>
                                  <td colspan="1"><span>Max:</span></td>
                                  <td colspan="1"><span>Mean:</span></td>
                                  <td colspan="1"><span>StdDev:</span></td>
                                </tr>

                                <tr data-ng-repeat="alphaKey in getKeysForObject(particle.alpha)">
                                  <td colspan="2"><span>{{"Alpha " + alphaKey.capitalizeFirstLetter() + ":"}}</span></td>
                                  <td colspan="1" blur="submit" data-editable-select="particle.alpha[alphaKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{particle.alpha[alphaKey].type}}</span></td>
                                  <td colspan="1" data-ng-repeat="alphaValueKey in getKeysForObject(particle.alpha[alphaKey]) | filter: '!type'" data-editable-text="particle.alpha[alphaKey][alphaValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{particle.alpha[alphaKey][alphaValueKey]}}</span></td>
                                </tr>

                                <tr data-ng-repeat="betaKey in getKeysForObject(particle.beta)">
                                  <td colspan="2"><span>{{"Beta " + betaKey.capitalizeFirstLetter() + ":"}}</span></td>
                                  <td colspan="1" blur="submit" data-editable-select="particle.beta[betaKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{particle.beta[betaKey].type}}</span></td>
                                  <td colspan="1" data-ng-repeat="betaValueKey in getKeysForObject(particle.beta[betaKey]) | filter: '!type'" data-editable-text="particle.beta[betaKey][betaValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{particle.beta[betaKey][betaValueKey]}}</span></td>
                                </tr>

                                <tr data-ng-repeat="paramKey in getKeysForObject(particle) | filter: '!className' | filter: '!alpha' | filter: '!beta'">
                                  <td colspan="2"><span>{{paramKey.capitalizeFirstLetter().splitOnCapitalLetters() + ":"}}</span></td>
                                  <td colspan="1" blur="submit" data-editable-select="particle[paramKey].type" data-e-ng-options="s.value as s.text for s in types" buttons="no"><span>{{particle[paramKey].type}}</span></td>
                                  <td colspan="1" data-ng-repeat="paramValueKey in getKeysForObject(particle[paramKey]) | filter: '!type'" data-editable-text="particle[paramKey][paramValueKey]" buttons="no" data-onbeforesave="mParamsCtrl.checkNumber($data)"><span>{{particle[paramKey][paramValueKey]}}</span></td>
                                </tr>

                                <tr data-ng-show="$index === (channel.particles.length-1)">
                                    <td colspan="8"><span><button type="button" class="btn btn-xs btn-success" data-ng-click="mParamsCtrl.addParticle(channel)">Add New Particle</button></span></td>
                                </tr>
                              </table>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- End Channels -->

    </div>
</div>
<!-- end Accordion -->
