<div class="modal fade" id="saveModelModal" tabindex="-1" role="dialog" data-ng-controller="SaveModalController">
    <!-- Import Model Modal window -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Save Model Parameters</h4>
        </div>
        <!-- Modal body which contains the form for uploading a file -->
        <div class="modal-body">
            <form id="saveForm" class="form-horizontal" role="form">
                <div class="form-group">
                    
                    <label for="saveType" class="col-sm-4 control-label"> Model Name</label>
                    <div class="col-sm-8">
                        <input id="saveModelName" type="text" placeholder="Model Name" class="form-control" data-ng-model="modelName">
                        <br>
                    </div>
                    
                    <br>
                    
                    <label for="saveType" class="col-sm-4 control-label"> Database Selection</label>
                    <div class="col-sm-8">
                      <select id="saveType" class="form-control" data-ng-model="saveType" data-ng-init="saveType = 'personal'">
                          <option value="personal">Personal</option>
                          <option value="lab">Lab</option>
                          <option value="global">Global</option>
                      </select>

                  </div>
                </div>

          </form>

          </div>
        <!-- modal window Cancel and Ok buttons -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default import_export_buttons" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success import_export_buttons" data-dismiss="modal" data-ng-click="saveSimulation()">Save</button>
        </div>
        <!-- end modal window Cancel and Ok buttons -->


      <!-- /.modal-content -->

      </div>
    <!-- /.modal-dialog -->
    </div>
</div>