body {
    padding-top: 26px;
}
.navbar-brand {
    background: url('/assets/img/ncs_logo.png');
    background-position: 16px 6px;
    background-size: 32px 32px;
    background-repeat:no-repeat;
    padding-left:56px;
}
.footer {
    color:#CCC;
    padding-top: 8px;
    border-top:1px solid #CCC;
}

.page {
    height:100%;
}

#modelList {
    overflow-x: hidden;
    overflow-y: scroll;
	min-height:400px;
    max-height:400px;
}

#modelList2 {
    overflow-x: hidden;
    overflow-y: scroll;
	min-height:450px;
    max-height:450px;
}

#loadModelDropdown {
    position: relative;
}

#centerView {

    min-height:480px;
    max-height:480px;
}

#paramid a {
	position: relative;

}

#paramval a{
	position: relative;
	right: 31px;
}

#parameterValues a{
    position: relative;
    right: 31px;
}

#channelValues a{
    position: relative;
    right: 31px;
}

#particleValues a{
    position: relative;
    right: 31px;
}

#chantype, #chanvalue, #chanminvalue, #chanmaxvalue,
    #type1, #type2, #value, #minvalue, #maxvalue,
    #particletype, #particlevalue, #particleminvalue,
    #particlemaxvalue, #constanttype, #constantvalue,
    #constantminvalue, #constantmaxvalue, #constanttype2,
    #constantvalue2, #constantminvalue2, #constantmaxvalue2 {
    margin-top: -1px;
    padding-left:0;
    padding-right:0;
}

#bread {
	font-size: 10px;
}
