<div id="model" class="container page" ng-controller="ModelBuilderController">
    <div class="page-header">
        <h3>Model Configuration</h3>
    </div>
    <ol class="breadcrumb">
  		<li><a id="bc1" href="#" ng-click="clickBreadCrumb()">Home</a></li>
  		<li><a id="bc2" href="#">Library</a></li>
  		<li class="active">Data</li>
	</ol>
    {% include 'pages/brainbuilder/components/importmodel.html' %}
    {% include 'pages/brainbuilder/components/leftmenu.html' %}
    {% include 'pages/brainbuilder/components/centermenu.html' %}
    {% include 'pages/brainbuilder/components/rightmenu.html' %}
</div>
