<!-- Main Div for containing the Model Builder page -->
<div id="model" class="container page">
    
    <!-- Model Configuration Header -->
    <div class="page-header">
        <h3>Model Configuration</h3>
    </div>
    <!-- End Header -->
     
    <!-- Bread crumbs to see the hiearchy of where one is at in the model 
	<div ng-controller="myModelsList2">
		<ol class="breadcrumb">
	  		<li><a id="b1" class="active" href="" ng-click="breadGoHome()">Home</a></li>
	  		<!-- <li><a id="bc2" href="#">Library</a></li> 
	  		<li class="active">Data</li> 
		</ol> 
	</div>
	<!-- End Bread Crumbs -->
	

	<!-- Modularization of Each Element of the page broken up into pieces -->
    {% include 'pages/brainbuilder/components/importmodel.html' %}
    {% include 'pages/brainbuilder/components/leftmenu.html' %}
    {% include 'pages/brainbuilder/components/centermenu.html' %}
    {% include 'pages/brainbuilder/components/rightmenu.html' %}
    <!-- End Modularization -->
</div>
<!-- End Main Div -->
