<!-- COLOR PICKER POPOVER BEGIN -->
<div class="popover" ng-show="content" style="width:225px">

  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html-unsafe="title" ng-show="title"> <label>Color Configuration</label> </h3>
  <div class="popover-content">

    <!-- Cells Color Picker BEGIN -->
    <div class="row ncb-drawer-row">
      <div class="col-lg-12">
        <button colorpicker colorpicker-position="bottom" class ="span2" type="button" class="btn btn-default" ng-model="colors.cell"> <span class="glyphicon glyphicon-eye-open"></span></button><label class="ncb-drawer-margin" ng-style="{color: colors.cell}"> Cells</label>
      </div>
    </div>
    <!-- Cells Color Picker END -->

    <!-- Cell Groups Color Picker BEGIN -->
    <div class="row ncb-drawer-row">
      <div class="col-lg-12">
        <button colorpicker colorpicker-position="bottom" class ="span2" type="button" class="btn btn-default ncb-drawer-margin" ng-model="colors.cellGroup"> <span class="glyphicon glyphicon-eye-open"></span></button><label class="ncb-drawer-margin" ng-style="{color: colors.cellGroup}"> Cell Groups </label>
      </div>
    </div>
    <!-- Cell Groups Color Picker END -->

    <!-- Models Color Picker BEGIN -->
    <div class="row ncb-drawer-row">
      <div class="col-lg-12">
          <button colorpicker colorpicker-position="bottom" class ="span2" type="button" class="btn btn-default ncb-drawer-margin" ng-model="colors.model"> <span class="glyphicon glyphicon-eye-open"></span></button><label class="ncb-drawer-margin" ng-style="{color: colors.model}"> Models </label>
      </div>
    </div>
    <!-- Models Color Picker END -->

    <!-- Synapses Color Picker BEGIN -->
    <div class="row ncb-drawer-row">
      <div class="col-lg-12">
          <button colorpicker colorpicker-position="bottom" class ="span2" type="button" class="btn btn-default ncb-drawer-margin" ng-model="colors.synapse"> <span class="glyphicon glyphicon-eye-open"></span></button><label class="ncb-drawer-margin" ng-style="{color: colors.synapse}"> Synapses </label>
      </div>
    </div>
    <!-- Synapses Color Picker END -->

  </div>
</div>
<!-- COLOR PICKER POPOVER END -->