<!-- Main Div for containing the Model Builder page -->
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-default ncb-drawer-margin" title="{{drawerCtrl.colorPickerPopover.title}}" data-content="{{drawerCtrl.colorPickerPopover.content}}" data-template="assets/html/colorpicker-popover.html" data-trigger="click" data-placement="bottom-left"  data-bs-popover> <span class="glyphicon glyphicon-cog"></span></button>
        </div>
        <div class="col-lg-10">
            <button class="btn btn-info pull-right ncb-drawer-margin" data-toggle="modal" data-target="#importModelModal" type="button">Import</button>
            <button class="btn btn-info pull-right ncb-drawer-margin" data-toggle="modal" data-target="#exportModelModal" type="button">Export</button>
        </div>
    </div>
    <div class="row ncb-drawer-row">
        <div class="col-lg-12">
            <div class="right-inner-addon">
                <i class="icon-search"><span class="glyphicon glyphicon-search"></span></i>
                <input type="text" class="form-control" placeholder="Search Models" data-ng-model="searchText">
            </div>
        </div>
    </div>
    <div class="row ncb-drawer-row">
        <div class="col-lg-12">
            <div class="btn-group ncb-drawer-btngroup">
              <button type="button" class="btn btn-default ncb-drawer-groupbtn" data-ng-class="{active: drawerCtrl.isSelected(0)}" data-ng-click="drawerCtrl.selectTab(0)">All</button>
              <button type="button" class="btn btn-default ncb-drawer-groupbtn" data-ng-class="{active: drawerCtrl.isSelected(1)}" data-ng-click="drawerCtrl.selectTab(1)">Local</button>
              <button type="button" class="btn btn-default ncb-drawer-groupbtn" data-ng-class="{active: drawerCtrl.isSelected(2)}" data-ng-click="drawerCtrl.selectTab(2)">Database</button>
            </div>
        </div>
    </div>
    <div class="row ncb-drawer-row">
        <div class="col-lg-12">

            <label id="noResults" data-ng-show="(drawerCtrl.isSelected(0) && localFiltered.length == 0 && dbFiltered.length == 0) || (drawerCtrl.isSelected(1) && localFiltered.length == 0) || (drawerCtrl.isSelected(2) && dbFiltered.length == 0)">No Search Results</label>

            <span class="label label-default" style="display:block;" data-ng-show="(drawerCtrl.isSelected(0) || drawerCtrl.isSelected(1)) && localFiltered.length > 0">Local</span>
            <div class="list-group ncb-no-margins" data-ng-show="drawerCtrl.isSelected(0) || drawerCtrl.isSelected(1)" data-ng-repeat="model in localFiltered = (localModels | filter : searchText)">
            
                <div data-ng-style="drawerCtrl.styleElement(model)" class="list-group-item ncb-cell-list-item" data-ng-dblclick="drawerCtrl.addToModel(model)">
                    <div class="row">
                        <div class="col-lg-12">
                            {{model.name}}<button class="btn btn-default btn-xs ncb-borderless-btn pull-right" data-ng-click="drawerCtrl.quickView(model)" type="button"><span class="glyphicon glyphicon-eye-open"></span></button>
                        </div>
                    </div>
                    <div class="row ncb-current-components">
                        <div class="col-lg-12 ">
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'cells'">{{model.parameters.type}}</div>
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'cellGroup'">Cell Group</div>
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'model'">Model</div>
                        </div>
                    </div>
                </div>
                        
            </div>

            <span class="label label-default" style="display:block;" data-ng-show="(drawerCtrl.isSelected(0) || drawerCtrl.isSelected(2)) && dbFiltered.length > 0">Database</span>
            <div class="list-group ncb-no-margins" data-ng-show="drawerCtrl.isSelected(0) || drawerCtrl.isSelected(2)" data-ng-repeat="model in dbFiltered = (dbModels | filter : searchText)">

                <div data-ng-style="drawerCtrl.styleElement(model)" class="list-group-item ncb-cell-list-item" data-ng-dblclick="drawerCtrl.addToModel(model)">
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="ncb-cell-name-txt ncb-list-text-color" href="">{{model.name}}<button class="btn btn-default btn-xs ncb-borderless-btn pull-right " data-ng-click="drawerCtrl.quickView(model)" type="button"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                        </div>
                    </div>
                    <div class="row ncb-current-components">
                        <div class="col-lg-12 ">
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'cells'">{{model.parameters.type}}</div>
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'cellGroup'">Cell Group</div>
                            <div class="ncb-cell-type-txt" data-ng-show="model.classification == 'model'">Model</div>
                        </div>
                    </div>
                </div>

            </div>             
        </div>

    </div>  
<!-- End Main Div -->
