<!-- CENTER MENU -->
<div class="col-lg-3">

    <!-- Current model list which contains the list of models a user is working on -->
	<div id="currentModelList" class="panel panel-default" ng-controller="myModelsList2">
		<div class="panel-heading">
			Current Model
            <button type="button" data-toggle="modal" href="#addElementModal" id="#addElement" onClick="hideAddElements()" class="btn btn-xs btn-info pull-right">+ Model Element</button>
			<!-- <button type="button" data-toggle="modal" href="#createNewAlias" id="#createNewAlias" class="btn btn-info btn-xs pull-right" onClick="fillAliasBody()" style="margin-right:5px;">+ Alias</button> -->
		</div>
		<div>
			<ol id="bread" class="breadcrumb" ng-breadcrumbs>
	  			<li><a id="bc1" class="active" ng-click="breadGoHome($event)" href="javascript:">Home</a></li>
				
			</ol>
		</div>
		
		<!-- filtering is done here -->
		<div class="panel-body" >
			<ul id="modelList2" class="list-group">
				<!-- <a href="" class="list-group-item" ng-repeat="cellGroup in list | orderBy: 'cellGroup.name'" ng-dblclick="intoModel(1)" ng-mousedown="setModel(cellGroup.name, 1)"> {{ '{{ cellGroup.name }}'  }}</a> -->
				<a href="" class="list-group-item" ng-repeat="neurons in list2.neurons | orderBy: 'neurons.name'" ng-mousedown="setModel(neurons.name, 0)"> {{ '{{ neurons.name }}'  }}</a>
				<a href="" class="list-group-item" ng-repeat="cellGroups in list2.cellGroups| orderBy: 'cellGroups.name'" ng-dblclick="intoModel(0)" ng-mousedown="setModel(cellGroups.name, 1)"> {{ '{{ cellGroups.name }}'  }}</a>
				<a href="" class="list-group-item" ng-repeat="cellAliases in list2.cellAliases  | orderBy: 'cellAliases.name'"> {{ '{{ cellAliases.name }}'  }}</a>				
			</ul>
		</div>
		<!-- end filtering -->
		
	</div>
	<!-- end current model list -->
	
</div>  
<!-- CENTER MENU END -->

<div class="modal fade" id="addElementModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Element</h4>
            </div>
            <div id="ElementBody" class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="modalelementtype" class="col-sm-4 control-label"> Element Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="elementType">
                                <option value='0'>Neuron</option>
                                <option value='1'>Cell Group</option>
                                <option value='2'>Cell Alias</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group neuronTypes">
                        <label for="modalneuronName" class="col-sm-4 control-label"> Name</label>
                        <div class="col-sm-8">
                    		<input id="modalneuronName" type="text" placeholder="Name" class="form-control">
                    		<br>
                    	</div>
                    	<label for="modalneuronType" class="col-sm-4 control-label"> Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="neuronType">
                                <option value='0'>Izhikevich</option>
                                <option value='1'>NCS</option>
                                <option value='2'>Hodgkin Huxley</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group neuronChannelType">
                        <label for="neuronChannelType" class="col-sm-4 control-label"> Channel</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="neuronChannelType">
                                <option value='0'>Voltage Gated Ion Channel</option>
                                <option value='1'>Calcium Dependant Channel</option>
                                <option value='2'>Voltage Gated Channel</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group cellGroupTypes">
                        <label for="modalcellGroupName" class="col-sm-4 control-label"> Name</label>
                        <div class="col-sm-8">
                    		<input id="modalcellGroupName" type="text" placeholder="Name" class="form-control">
                    		<br>
                    	</div>
                    	<label for="modalcellGroupNum" class="col-sm-4 control-label"> Amount</label>
                        <div class="col-sm-8">
                    		<input id="modalcellGroupNum" type="number" placeholder="Amount" class="form-control">
                    		<br>
                    	</div>
                    	<label for="modalcellGroupType" class="col-sm-4 control-label"> Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="cellGroupType">
                                <option value='0'>Izhikevich</option>
                                <option value='1'>NCS</option>
                                <option value='2'>Hodgkin Huxley</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group cellChannelType">
                        <label for="cellChannelType" class="col-sm-4 control-label"> Channel</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="cellChannelType">
                                <option value='0'>Voltage Gated Ion Channel</option>
                                <option value='1'>Calcium Dependant Channel</option>
                                <option value='2'>Voltage Gated Channel</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" onClick="addToGlobalModel()">Add</button>
            </div>
        </div>
    </div>
</div>
