<div class="col-lg-3"> <!-- CENTER MENU -->
	<div id="currentModelList" class="panel panel-default">
		<div class="panel-heading">
			Current Model
		</div>
		<div class="panel-body">
			<ul id="modelList2" class="list-group">
				<a id="c1" class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Container 1</a>
				<div id="collapse1" class="panel-collapse collapse in">
				</div>
				<a id="c2" class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Container 2</a>
				<div id="collapse2" class="panel-collapse collapse in">
				</div>
			</ul>
		</div>
	</div>
</div>  <!-- CENTER MENU END -->