<!-- LEFT MENU -->
<div class="col-lg-3"> 
	<div id="loadedModelList" class="panel panel-default">
		<div class="panel-heading">
			Loaded Models
        	<a href="#modelbuilder_importmodel" data-toggle="modal" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">Import Model</a>
        	<a href="#modelbuilder_exportmodel" data-toggle="modal" class="btn btn-success btn-xs pull-right" style="margin-right:5px;" onclick="exportModel()">Export Model</a>
		</div>
		<div class="panel-body" ng-controller="myModelsList" ng-style="{color: blue}">
		
		    <!-- Filter -->
			<div class="form-group"> 
				<label for="modelbuilder_modelselector_filterinput">Search Models</label>
				<input type="text" class="form-control" id="modelbuilder_filterinput" placeholder="Search" data-ng-model="searchText" data-ng-model="searchType">

				<button type="button" class="btn btn-default" title="{{ '{{colorPickerPopover.title}}' }}" data-content="{{ '{{colorPickerPopover.content}}' }}" data-template="assets/html/colorpicker-popover.html" data-trigger="click" data-placement="top" bs-popover> <span class="glyphicon glyphicon-cog"></span></button>

				<input type="checkbox" data-ng-model="searchType.dbType" ng-true-value="Personal" ng-false-value="" /><label ng-style="{color: model_color.personal}"> Personal</label>
				<input type="checkbox" data-ng-model="searchType.dbType" ng-true-value="Database" ng-false-value="" /><label ng-style="{color: model_color.database}"> Database</label>
			</div> 
            <!-- End Filter -->

				<!-- list of model elements -->
				<ul id="modelList" class="list-group">
					
					<a href="" class="list-group-item" data-ng-repeat="model in list | filter: searchText | filter:searchType | orderBy: 'model.name'" ng-dblclick="moveModel(model.name)" ng-style="styleModel(model.dbType, model_color)" ng-mousedown="setModel(model.name)" title="{{'{{modelPopover.title}}'}}" data-content="{{'{{modelPopover.content}}'}}" ng-init="path=getTemplate(model.type)" ng-model="path" data-template="{{'{{path}}'}}" data-trigger="click" bs-popover>{{ '{{ model.name }}'  }}</a>
					
				</ul>
			    <!-- end list of model elements -->
		</div>
	</div>
</div> 
 <!-- LEFT MENU END -->
