<div class="col-lg-3"> <!-- LEFT MENU -->
	<div id="loadedModelList" class="panel panel-default">
		<div class="panel-heading">
			Loaded Models
        	<a href="#modelbuilder_importmodel" data-toggle="modal" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">+ Import Model</a>
		</div>
		<div class="panel-body" ng-controller="myModelsList">
			<div class="form-group"> <!-- Filter -->
				<label for="modelbuilder_modelselector_filterinput">Search Models</label>
				<input type="text" class="form-control" id="modelbuilder_filterinput" placeholder="Search" data-ng-model="modelText">
				<input type="checkbox" data-ng-model="search.modelType" ng-true-value="Personal" ng-false-value="" /> Personal
				<input type="checkbox" data-ng-model="search.modelType" ng-true-value="Database" ng-false-value="" /> Database
				<input type="checkbox" data-ng-model="search.modelType" ng-true-value="All" ng-false-value="" /> All
			</div> <!-- End Filter -->

		
			<ul ng-app="bootstrap" id="modelList" class="list-group">
				<a href="" pop-over items="model", title="Type: {{'{{model.type}}'}}" class="list-group-item" ng-repeat="model in list | filter: modelText | orderBy: 'model.name'" ng-mousedown="setModel(model.name)"> {{ '{{ model.name }}'  }}</a>
			</ul>
	
		</div>
	</div>
</div>  <!-- LEFT MENU END -->
