<!-- LEFT MENU -->
<div class="col-lg-3"> 
	<div id="loadedModelList" class="panel panel-default">
		<div class="panel-heading">
			Loaded Models
        	<a href="#modelbuilder_importmodel" data-toggle="modal" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">+ Import Model</a>
		</div>
		<div class="panel-body" ng-controller="myModelsList" ng-style="{color: blue}">
		
		    <!-- Filter -->
			<div class="form-group"> 
				<label for="modelbuilder_modelselector_filterinput">Search Models</label>
				<input type="text" class="form-control" id="modelbuilder_filterinput" placeholder="Search" data-ng-model="searchText" data-ng-model="searchType">
				<input type="checkbox" data-ng-model="searchType.dbType" ng-true-value="Personal" ng-false-value="" /><label ng-style="{color: '#00568C'}"> Personal</label>
				<input type="checkbox" data-ng-model="searchType.dbType" ng-true-value="Database" ng-false-value="" /><label ng-style="{color: '#5d6b74'}">Database</label>
			</div> 
            <!-- End Filter -->
				<!-- list of model elements -->
				<ul id="modelList" class="list-group" >
					<a href="" class="list-group-item" data-ng-repeat="model in list | filter: searchText | filter:searchType | orderBy: 'model.name'" ng-dblclick="moveModel(model.name)" ng-style="styleModel(model.dbType)" ng-mousedown="setModel(model.name)" popover-title="{{'{{model.name}}'}}" popover="Type: {{'{{model.type}}'}} a: {{'{{model.parameters.a.value}}'}}" popover-trigger="mouseenter" popover-placement="top"> {{ '{{ model.name }}'  }}</a>
				</ul>
			    <!-- end list of model elements -->
		</div>
	</div>
</div> 
 <!-- LEFT MENU END -->
