<div id="modelbuilder_modelselector" class="panel panel-default">
    <div class="panel-heading">
        Model Selector
        <a href="#modelbuilder_newmodel" data-toggle="modal" class="btn btn-success btn-xs pull-right">+ New Model</a>
        <a href="#modelbuilder_importmodel" data-toggle="modal" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">+ Import Model</a>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="modelbuilder_modelselector_filterinput">Filter Models</label>
            <input type="text" class="form-control" id="modelbuilder_filterinput" placeholder="Filter">
        </div>
        <ul id="modelbuilder_modelselector_modellist" class="list-group">
        </ul>
    </div>
</div>
