 <!-- RIGHT MENU -->
<div class="col-lg-6">

    <!-- Div for Model paremeters-->
    <div class="panel panel-default" style="height:550px">
    
        <!-- Tab bar menu buttons for Cell group Parameters, Model Parameters, User Parameters -->
        <div id="groupName" class="panel-heading" style="height:40px">
            
        </div>
        <!-- end tab bar menu buttons -->

        <!-- Accordion -->
        <div class="panel-body">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="cellGroupCollapse" style="overflow:visible">
                    <div class="panel-heading">
                        <h4 class="panel-title" >
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" style="display:block">
                                CellGroup Parameters
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse in">
                        <div class="row">
                            <div id="cellgroup" class="col-lg-5">
                                <div id="cellParams">
                                    <a class="list-group-item"> CellGroup Name: </a>
                                    <a class="list-group-item"> Quantity: </a>
                                    <a class="list-group-item"> Geometry: </a>
                                </div>
                            </div>
                            <div id="cellGroupParams" class="col-lg-7">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="paramCollapse" style="overflow:visible">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="display:block">
                                Cell Parameters
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="row">
                            <div id="parameters" class="col-lg-5">
                                <div id="izParam">
                                    <a class="list-group-item"> Model Name: </a>
                                    <a class="list-group-item"> Model Type: </a>
                                    <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                                    <a class="list-group-item"> A: </a>
                                    <a class="list-group-item"> B: </a>
                                    <a class="list-group-item"> C: </a>
                                    <a class="list-group-item"> D: </a>
                                    <a class="list-group-item"> U: </a>
                                    <a class="list-group-item"> V: </a>
                                    <a class="list-group-item"> Threshold: </a>
                                </div>
                                <div id="ncsParam">
                                    <a class="list-group-item"> Model Name: </a>
                                    <a class="list-group-item"> Model Type: </a>
                                    <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                                    <a class="list-group-item"> Threshold: </a>
                                    <a class="list-group-item"> Resting Potential: </a>
                                    <a class="list-group-item"> Calcium: </a>
                                    <a class="list-group-item"> Calc. Spike Incr.: </a>
                                    <a class="list-group-item"> Tau Calcium: </a>
                                    <a class="list-group-item"> Leak Reversal Pot.: </a>
                                    <a class="list-group-item"> Tau Membrane: </a>
                                    <a class="list-group-item"> R Membrane: </a>
                                    <a class="list-group-item"> Spike Shape: </a>
                                </div>
                                <div id="hhParam">
                                    <a class="list-group-item"> Model Name: </a>
                                    <a class="list-group-item"> Model Type: </a>
                                    <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                                    <a class="list-group-item"> Threshold: </a>
                                    <a class="list-group-item"> Resting Potential: </a>
                                    <a class="list-group-item"> Capacitence: </a>
                                </div>
                            </div>
                            <div id="parameterValues" class="col-lg-7">

                            </div>
                        </div>
                        <div class="panel panel-default" id="chanCollapse" style="overflow:visible;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="channames"data-toggle="collapse" data-parent="#ncsParam" href="#collapse2" style="display:block">
                                        Channels
                                    </a>
                                    <button type="button" data-toggle="modal" href="#createNewChannel" id="channelButton" class="btn btn-info btn-xs pull-right" style="margin-right:5px;">+ Add Channel</button>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="synCollapse" style="overflow:visible;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a id="synnames"data-toggle="collapse" data-parent="#accordion" href="#collapseS">
                                Connections
                            </a>
                            <button type="button" data-toggle="modal" href="#createNewSynapse" id="synapseButton" class="btn btn-info btn-xs pull-right" onClick="fillSynapseBody()" style="margin-right:5px;">+ Add Synapse</button>
                        </h4>
                    </div>
                    <div id="collapseS" class="panel-collapse collapse in">

                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- end Accordion -->

        <!-- Model Attirbute Names -->
        <div id="centerViewPanel" class="panel-body">
            <ul id="centerView" class="list-group">

            </ul>
        </div>
        <!-- end Model Attribute Names -->
        
        
    </div>
    <!-- End Model Paremeters -->
</div>  
<!-- RIGHT MENU END -->

<div class="modal fade" id="createNewChannel" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Channel</h4>
            </div>
            <div id="createNewChannelBody" class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="modalchanneltype" class="col-sm-4 control-label"> Channel Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="addChannelType">
                                <option value='0'>Voltage Gated Ion Channel</option>
                                <option value='1'>Calcium Dependant Channel</option>
                                <option value='2'>Voltage Gated Channel</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onClick="addChannel()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createNewSynapse" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Synapse</h4>
            </div>
            <div id="createNewSynapseBody" class="modal-body">
                <div class="input-group">
                    <label> Name:</label>
                    <br>
                    <input id="synapName" type="text" class="form-control" placeholder="Synapse Name" style="width: 450px">
                </div>
                <br>
                <div class="input-group">
                    <label> Probability (%)</label>
                    <br>
                    <input id="probOfConnection" type="text" class="form-control" placeholder="Probability of Connection" style="width: 450px">
                </div>
                <br>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="modalSynapsetype" class="control-label" style="margin-left:15px"> Pre-Synaptic</label>
                        <select id="preChoices" class="form-control" style="width:300px; margin-left: 15px">

                        </select>
                        <label for="modalSynapsetype" class="control-label" style="margin-left:15px"> Post-Synaptic</label>
                        <select id="postChoices" class="form-control" style="width:300px; margin-left: 15px">

                        </select>
                        <label for="modalSynapsetype" class="control-label" style="margin-left:15px"> Synapse</label>
                        <select id="synChoices" class="form-control" style="width:300px; margin-left: 15px">
                            <option value="1" onClick="setSynapseVal(value)">Flat Synapse</option>
                            <option value="2" onClick="setSynapseVal(value)">NCS Synapse</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onClick="createSynapse()" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editValuesModal" tabindex="-1" role="dialog">

    <!-- actual modal window div -->
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- header title -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Model Values</h4>
        </div>
        <!-- end header title -->
        
        <div id="editModalBody" class="modal-body">
            
        </div>
        
        <!-- Confirmation buttons: Yes or NO -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createNewModel()">Yes</button>
        </div>
        <!-- end buttons -->
        
      </div>
      <!-- /.modal-content -->
      
    </div>
    <!-- /.modal-dialog -->
    
</div>
<!-- end new model modal window -->
