<div class="col-lg-6"> <!-- RIGHT MENU -->

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="btn-group">
				<button id="cellP" type="button" class="btn btn-default">CellGroup Parameters</button>
				<button id="modelP" type="button" class="btn btn-default">Model Parameters</button>
				<button id="userP" type="button" class="btn btn-default">User Parameters</button>
			</div>
		</div>
		<div class="panel-body">
			<ul id="centerView" class="list-group">
			<div class="col-lg-6">
				<div id="p1">
					<a class="list-group-item"> CellGroup Name: </a>
					<a class="list-group-item"> Model Name: </a>
					<a class="list-group-item"> Quantity: </a>
					<a class="list-group-item"> Geometry: </a>
				</div>
				<div id="p2">
					<a class="list-group-item"> Model Name: </a>
					<a class="list-group-item"> Model Type: </a>
					<a class="list-group-item"> A: </a>
					<a class="list-group-item"> B: </a>
					<a class="list-group-item"> C: </a>
					<a class="list-group-item"> D: </a>
					<a class="list-group-item"> U: </a>
					<a class="list-group-item"> V: </a>
					<a class="list-group-item"> Threshold: </a>
				</div>
			</div>
			<div id="paramval" class="col-lg-6">
			
			</div>

			</ul>
		</div>
	</div>
</div>  <!-- RIGHT MENU END -->
