 <!-- RIGHT MENU -->
<div class="col-lg-6">

    <!-- Div for Model paremeters-->
	<div class="panel panel-default">
	
	    <!-- Tab bar menu buttons for Cell group Parameters, Model Parameters, User Parameters -->
		<div class="panel-heading">
			<div class="btn-group">
				<button id="cellP" type="button" class="btn btn-default">CellGroup Parameters</button>
				<button id="modelP" type="button" class="btn btn-default">Model Parameters</button>
				<button id="userP" type="button" class="btn btn-default">User Parameters</button>
			</div>
		</div>
		<!-- end tab bar menu buttons -->
		
		<!-- Model Attirbute Names -->
		<div class="panel-body">
			<ul id="centerView" class="list-group">
			<div class="col-lg-5">
				<div id="p1">
					<a class="list-group-item"> CellGroup Name: </a>
					<a class="list-group-item"> Model Name: </a>
					<a class="list-group-item"> Quantity: </a>
					<a class="list-group-item"> Geometry: </a>
				</div>
				<div id="p2">
					<a class="list-group-item"> Model Name: </a>
					<a class="list-group-item"> Model Type: </a>
					<a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
					<a class="list-group-item"> A: </a>
					<a class="list-group-item"> B: </a>
					<a class="list-group-item"> C: </a>
					<a class="list-group-item"> D: </a>
					<a class="list-group-item"> U: </a>
					<a class="list-group-item"> V: </a>
					<a class="list-group-item"> Threshold: </a>
				</div>
			</div>
			<div id="paramval" class="col-lg-7">
		
			</div>

			</ul>
		</div>
		<!-- end Model Attribute Names -->
		
		
	</div>
	<!-- End Model Paremeters -->
</div>  
<!-- RIGHT MENU END -->

<div class="modal fade" id="editValuesModal" tabindex="-1" role="dialog">

    <!-- actual modal window div -->
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- header title -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Model Values</h4>
        </div>
        <!-- end header title -->
        
        <div id="editModalBody" class="modal-body">
            
        </div>
        
        <!-- Confirmation buttons: Yes or NO -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createNewModel()">Yes</button>
        </div>
        <!-- end buttons -->
        
      </div>
      <!-- /.modal-content -->
      
    </div>
    <!-- /.modal-dialog -->
    
</div>
<!-- end new model modal window -->
