
<!--Input/Output Variables Panel BEGIN-->
<div class="panel panel-default ncb-full-panel">
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-tabs ncb-nav-tabs" role="tablist">
					<li data-ng-class="{active: simCtrl.isSelected(0)}" data-ng-click="simCtrl.selectTab(0)"><a href="#">Input</a></li>
					<li data-ng-class="{active: simCtrl.isSelected(1)}" data-ng-click="simCtrl.selectTab(1)"><a href="#">Output</a></li>	
					<li class="pull-right ncb-tabs-button"><button type="button" class="btn btn-xs btn-info pull-right">New</button></li>	
				</ul>
			</div>
		</div>

	<div class="panel-body">

	</div>
</div>
<!--Input/Output Variables Panel END-->