
<!--Input/Output Specification Panel BEGIN-->
<div class="panel panel-default ncb-full-panel">
	<div class="panel-heading">
	    <h3 class="panel-title">{{(simCtrl.selected.name || "Input/Output") + " Specification"}}</h3>
	</div>

	<div class="panel-body" data-ng-show="simCtrl.selected.className == 'simulationInput'">
		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
			    <div class="form-group">
				    <label for="simNameInput">Stimulus Type</label>
	                <select class="form-control" data-ng-model="simCtrl.selected.stimulusType">
	                    <option value='Rectangular Current'>Rectangular Current</option>
	                    <option value='Rectangular Voltage'>Rectangular Voltage</option>
	                    <option value='Linear Current'>Linear Current</option>
	                    <option value='Linear Voltage'>Linear Voltage</option>
	                    <option value='Sine Current'>Sine Current</option>
	                    <option value='Sine Voltage'>Sine Voltage</option>
	                </select>
                </div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Amplitude</label>
					<input data-ng-model="simCtrl.selected.amplitude" type="text" placeholder="ex. 2" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Starting Amplitude</label>
						<input data-ng-model="simCtrl.selected.start_amplitude" type="text" placeholder="ex. 2" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			<div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Ending Amplitude</label>
					<input data-ng-model="simCtrl.selected.end_amplitude" type="text" placeholder="ex. 2" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Amplitude Scale</label>
						<input data-ng-model="simCtrl.selected.amplitude_scale" type="text" placeholder="ex. 2" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			<div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Amplitude Shift</label>
					<input data-ng-model="simCtrl.selected.amplitude_shift" type="text" placeholder="ex. 2" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Delay (Seconds)</label>
						<input data-ng-model="simCtrl.selected.delay" type="text" placeholder="ex. 2" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			<div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Time Scale</label>
					<input data-ng-model="simCtrl.selected.time_scale" type="text" placeholder="ex. 2" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Current (Amps)</label>
						<input data-ng-model="simCtrl.selected.current" type="text" placeholder="ex. 2" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			<div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Phase</label>
					<input data-ng-model="simCtrl.selected.phase" type="text" placeholder="ex. 2" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Width</label>
					<input data-ng-model="simCtrl.selected.width" type="text" placeholder="ex. 3" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Frequency</label>
					<input data-ng-model="simCtrl.selected.frequency" type="text" placeholder="ex. 10" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Probability</label>
					<input data-ng-model="simCtrl.selected.probability" type="text" placeholder="ex. 0.5" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
			    <div class="form-group">
				    <label for="simNameInput">Input Target</label>
	                <select class="form-control" data-ng-show="simCtrl.possibleTargets.length > 0">
	                    <option class="form-control" data-ng-repeat="target in simCtrl.possibleTargets" value="{{target.val}}" ng-bind-html="target.name"></option>
	                </select>

	                <p data-ng-show="simCtrl.possibleTargets.length == 0">No Cell Groups Available</p>

                </div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Start Time</label>
					<input data-ng-model="simCtrl.selected.startTime" type="text" placeholder="ex. 612789" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">End Time</label>
					<input data-ng-model="simCtrl.selected.endTime" type="text" placeholder="ex. 1378454" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>
	</div>

	<div class="panel-body" data-ng-show="simCtrl.selected.className == 'simulationOutput'">
		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
			    <div class="form-group">
				    <label for="simNameInput">Output Type</label>
	                <select class="form-control" data-ng-model="simCtrl.selected.outputType">
	                    <option value='View Report'>View Report</option>
	                    <option value='Save As File'>Save As File</option>
	                </select>
                </div>
				<div class="form-group" data-ng-show="simCtrl.selected.outputType == 'Save As File'">
					<label for="simNameInput">File Name</label>
					<input data-ng-model="simCtrl.selected.fileName" type="text" placeholder="File Name" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
			    <div class="form-group">
				    <label for="simNameInput">Report Type</label>
	                <select class="form-control" data-ng-model="simCtrl.selected.reportType">
	                    <option value='Channel Conductance'>Channel Conductance</option>
	                    <option value='Synaptic Current'>Synaptic Current</option>
	                    <option value='Neuron Voltage'>Neuron Voltage</option>
	                    <option value='Neuron Fire'>Neuron Fire</option>
	                    <option value='Input Current'>Input Current</option>
	                </select>
                </div>

			    <div class="form-group" data-ng-show="simCtrl.selected.outputType == 'Save As File'">
				    <label for="simNameInput">Number Format</label>
	                <select class="form-control" data-ng-model="simCtrl.selected.numberFormat">
	                    <option value='ascii'>ascii</option>
	                </select>
                </div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Report Target</label>
					<select class="form-control" data-ng-show="simCtrl.possibleTargets.length > 0">
	                    <option class="form-control" data-ng-repeat="target in simCtrl.possibleTargets" value="{{target.val}}" ng-bind-html="target.name"></option>
	                </select>

	                <p data-ng-show="simCtrl.possibleTargets.length == 0">No Cell Groups Available</p>
				</div>
				<!-- End Name of Simulation input -->
			</div>

		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Frequency</label>
					<input data-ng-model="simCtrl.selected.frequency" type="text" placeholder="ex. 10" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Probability</label>
					<input data-ng-model="simCtrl.selected.probability" type="text" placeholder="ex. 0.5" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

			<div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Start Time</label>
					<input data-ng-model="simCtrl.selected.startTime" type="text" placeholder="ex. 612789" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>

		</div>

		<div class="row">


		    <div class="col-lg-6">
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">End Time</label>
					<input data-ng-model="simCtrl.selected.endTime" type="text" placeholder="ex. 1378454" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
			</div>
		</div>
	</div>

</div>
<!--Input/Output Specification Panel END-->
