
<!--Input/Output Specification Panel BEGIN-->
<div class="panel panel-default ncb-full-panel">
	<div class="panel-heading">
	    <h3 class="panel-title">Input/Output Specification</h3>
	</div>
	<div class="panel-body">
		<form id="simulationParameterForm">

			<div class="row">
			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Stimulus Type</label>
						<input id="simNameInput" type="text" placeholder="Rectangular Current" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>

			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Amplitude</label>
						<input id="simNameInput" type="text" placeholder="ex. 2" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			</div>

			<div class="row">
			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Width</label>
						<input id="simNameInput" type="text" placeholder="ex. 3" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>

			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Frequency</label>
						<input id="simNameInput" type="text" placeholder="ex. 10" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			</div>

			<div class="row">
			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Probability</label>
						<input id="simNameInput" type="text" placeholder="ex. 0.5" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>

			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Input Target</label>
						<input id="simNameInput" type="text" placeholder="No Cell Groups Available" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			</div>

			<div class="row">
			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">Start Time</label>
						<input id="simNameInput" type="text" placeholder="ex. 612789" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>

			    <div class="col-lg-6">
				    <!-- Name of Simulation input -->
					<div class="form-group">
						<label for="simNameInput">End Time</label>
						<input id="simNameInput" type="text" placeholder="ex. 1378454" class="form-control">
					</div>
					<!-- End Name of Simulation input -->
				</div>
			</div>

		</form>
	</div>
</div>
<!--Input/Output Specification Panel END-->
