<!-- NEW INPUT MODAL BEGIN -->
<!-- Modal -->
<div class="modal fade" id="newInputModal" tabindex="-1" role="dialog" data-ng-controller="AddCellGroupModalController as addCellGroupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Input</h4>
            </div>
            <div id="ElementBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="addCellGroupCtrl.addCellGroup()">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- NEW INPUT MODAL END -->