<!-- Right MENU -->
<div class="col-lg-4"> 

    <!-- List of Simulation Paremeters -->
    <div id="simulationInputList" class="panel panel-default">
    
        <!-- Simulation Paremeter Heading -->
        <div class="panel-heading">
            Simulation Input
            <a class="btn btn-primary btn-xs pull-right" style="margin-right:5px" onclick="startGenInputForm()">+ Add Input</a>
        </div>

        <div id="simInputPanel" class="panel-body">
            <!-- Dynamically Created Input goes here -->
        </div>
    </div>
</div>