<!-- LEFT MENU -->
<div class="col-lg-4"> 

    <!-- List of Simulation Paremeters -->
	<div id="simulationParameterList" class="panel panel-default">
	
	    <!-- Simulation Paremeter Heading -->
		<div class="panel-heading">
			Simulation Parameters
			<a href="#simbuilder_export" data-toggle="modal" class="btn btn-success btn-xs pull-right" style="margin-right:5px"
        	>+ Export</a>
        	<a href="#simbuilder_importparams" data-toggle="modal" class="btn btn-info btn-xs pull-right" style="margin-right:5px">+ Import</a>
		</div>
		<!-- End Simulation Paremeter Heading -->
		
		<!-- Form for entering Simulation Paremeters -->
		<div class="panel-body">
			<form id="simulationParameterForm">
			
			    <!-- Name of Simulation input -->
				<div class="form-group">
					<label for="simNameInput">Name</label>
					<input id="simNameInput" type="text" placeholder="Name" class="form-control">
				</div>
				<!-- End Name of Simulation input -->
				
				<!-- Duration Input -->
				<div class="form-group">
					<label for="simDurationInput">Duration</label>
					<input id="simDurationInput" type="number" placeholder="Duration" class="form-control">
				</div>
				<!-- End Duration Input -->
				
				<!-- FSV Input -->
				<div class="form-group">
					<label for="simFSVInput">FSV</label>
					<input id="simFSVInput" type="number" placeholder="FSV" class="form-control">
				</div>
				<!-- End FSV Input -->
				
				<!-- Interactive Input -->
				<div class="form-group">
					<label for="simInteractiveInput">Interactive?</label>
					<select class="form-control" id="simInteractiveInput">
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
				</div>
				
				<!-- Seed Input -->
				<div class="form-group">
					<label for="simSeedInput">Seed</label>
					<input id="simSeedInput" type="number" placeholder="Seed" class="form-control">
				</div>
				<!-- End Seed Input -->
				
				<!-- Distance Input -->
				<div class="form-group">
					<label for="simDistanceInput">Include Distance?</label>
					<select class="form-control" id="simDistanceInput">
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
				</div>
				<!-- End Distance Input -->
				
			</form>
		</div>
		<!-- End for for entering Simulation Paremeters -->
		
	</div>
	<!-- List of Simulation Paremeters -->
	
</div>  
<!-- LEFT MENU END -->
