<!-- Right MENU -->
<div class="col-lg-4"> 

    <!-- List of Simulation Paremeters -->
    <div id="simulationOutputList" class="panel panel-default">
    
        <!-- Simulation Paremeter Heading -->
        <div class="panel-heading">
            Simulation Output
            <a class="btn btn-primary btn-xs pull-right" style="margin-right:5px" onclick="startGenOutputForm()">+ Add Output</a>
        </div>

        <div id="simOutputPanel" class="panel-body">
            <!-- Dynamically Created Output goes here -->
        </div>
    </div>
</div>