<!-- Main DIV containing the modularized pieces of the simulation builder tab -->
<div id="simulation" class="container" ng-scope="SimulationController">

    <!-- Heading for Simulation Builder Tab -->
    <div class="page-header">
        <h3>Simulation Configuration</h3>
    </div>
    <!-- End Heading for Simulation Builder Tab -->
    
    <!-- Modularized components of Simulation Builder Tab -->
    {% include 'pages/simbuilder/components/leftmenu.html' %}
    <!-- End Modularized components -->
    
</div>
<!-- End Main DIV -->
